body{
    background-image: url(../Assets/Fondo.jpeg);
}

.container{
    background-color: #FBF3D5 ;
}

.item{
    background-color: #FFCF81;
}

.top-container{
    background-color: #D9EDBF;
    border: dotted 5px white;
    font-size: justify;
}

#top{
    background-color: #FFB996;

}